<div style='text-align:center; margin-bottom:20px'>
  The Local Spiritual Assembly of the Baha'is of the City of New York
</div>
Dear <%= @first_name %><%= " #{@last_name}" if @last_name.present? %>,
<br><br>

Thank you for your contributions to the Baha'i Fund over the past year. Contributions to the fund are the lifeblood of the Cause and enable our community to support the many community building efforts on a local, regional and national level and the Local Spiritual Assembly greatly appreciates each contribution.
<br><br>
Please find your Bahá’í Fund contribution summary for January through December 2016 below. You may use this message as a tax receipt for your contributions for 2016. Any contributions made directly to the National Fund or using the National Online Contribution System will be recorded in a separate receipt from the National Treasurer's Office. Let it be noted that no goods or services were provided in consideration for this contribution unless otherwise recorded.
<br><br>
Please email <%= mail_to ENV['TREASURER_EMAIL'] %> if you need any additional documentation.
<br><br>
With loving regards,
<br><br>
<%= ENV['TREASURER_NAME'] %>, Treasurer Local Spiritual Assembly of the Baha'is of New York
<br><br>
<i>
  All the friends of God… should contribute to the extent possible, however modest their offering may be.
  God doth not burden a soul beyond its capacity… O Friends of God!
  Be ye assured that in place of these contributions, your agriculture, your industry, and your commerce will be blessed by manifold increases,
  with goodly gifts and bestowals.  He who cometh with one goodly deed will receive a tenfold reward.
  There is no doubt that the living Lord will abundantly confirm those who expend their wealth in His path.
</i>
<br>
-‘Abdu’l-Bahá
<br><br><br>
<table class='table' width='100%'>
  <thead>
    <tr>
      <th>Date</th>
      <th>Num</th>
      <th>Fund</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <%- @contributions.sort_by(&:date).each do |contribution| %>
      <tr>
        <td style='text-align:center; border-bottom:1px solid; padding:5px'><%= contribution.date %></td>
        <td style='text-align:center; border-bottom:1px solid; padding:5px'><%= contribution.num %></td>
        <td style='text-align:center; border-bottom:1px solid; padding:5px'><%= contribution.fund %></td>
        <td style='text-align:center; border-bottom:1px solid; padding:5px'><%= number_to_currency(contribution.amount) %></td>
      </tr>
    <% end %>
    <tr>
      <th colspan='3' class='text-sm-right' style='text-align:right'>
        TOTAL:
      </th>
      <th><%= number_to_currency(@contributions.to_a.sum(&:amount)) %></th>
    </tr>
  </tbody>
</table>
